@{
    ViewData["Title"] = "David's Wicked Sick Home Page!";
}

<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

<div class="text-center">
    <h1 class="display-4">Welcome to the greatest website you have ever seen.</h1>
    <p>Learn about <a href="https://www.makeschool.com/academy/track/standalone/superhero-team-dueler/superhero-objects">Making C# dogs with OOP Principles</a>.</p>
</div>

<div>
    <p>I can guarantee you have never seen a better website.</p>
    <p>"<b>Ridiculously Clean.</b>" - <i>The Pope</i></p>
    <p>"<b>Mind Blowing</b>" - <i>Ghandi</i></p>
    <p>"<b>Want to see a better website? You can't.</b>" - <i>The Queen</i></p>
</div>
